* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}


body {
  height: 100vh;
  display: flex;
  color: white;
  overflow: hidden;
  background: linear-gradient(180deg, #0a2b79 0%, #1a4cb8 100%);
}


.container {
  display: flex;
  width: 100%;
  height: 100%;
}


.sidebar {
  width: 90px;
  background: linear-gradient(180deg, #042a84, #0639a6);
  padding: 30px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28px;
  box-shadow: 4px 0px 15px rgba(0, 0, 0, 0.25);
}


.logo {
  width: 55px;
}


.menu-item {
  width: 50px;
  height: 50px;
  background: rgba(255,255,255,0.10);
  border-radius: 12px;
  border: 2px solid rgba(255,255,255,0.15);
  background-size: 28px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  transition: 0.2s;
}


.menu-item:hover {
  background: rgba(255,255,255,0.28);
}


.menu-item.active {
  background: rgba(255,255,255,0.45);
  border-color: white;
}


.home { background-image: url("Assets/home.png"); }
.calendar { background-image: url("Assets/Calendar.png"); }
.notes { background-image: url("Assets/tarefas.png"); }
.list { background-image: url("Assets/menucaderno.png"); }
.user { background-image: url("Assets/perfil.png"); }


.main {
  flex: 1;
  padding: 26px 35px;
  display: flex;
  flex-direction: column;
}


.top-bar {
  width: 100%;
  background: #0049c7;
  padding: 12px 18px;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 12px rgba(0,0,0,0.25);
}


.title {
  font-size: 33px;
  font-weight: 700;
  color: white;
  font-family: "Comic Sans MS", cursive;
}


.actions {
  display: flex;
  gap: 10px;
}


.btn {
  padding: 8px 20px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
  box-shadow: 0 4px 10px rgba(0,0,0,0.25);
}


.btn.delete {
  background: #ff9d00;
  color: black;
}


.btn.save {
  background: #e7ecff;
  color: #0a2b79;
}

.container-editor {
  width: 100%;
  max-width: 800px;
}

.editor-area {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;    
  padding: 20px;
  box-sizing: border-box;
}


.editor {
  width: 100%;
  max-width: 1400px;            
  height: 100%;          
  padding: 15px;
  color: #222;

  border: 1px solid #ccc;
  border-radius: 8px;

  overflow-y: auto;            
  background: #fff;

  font-size: 16px;
  line-height: 1.5;
  outline: none;

  white-space: pre-wrap;       

  resize: vertical;
}


.toolbar {
  position: absolute;
  left: 50%;
  bottom: 15px;
  transform: translateX(-50%);
  background: #003a96;
  padding: 10px 15px;
  border-radius: 10px;
  display: flex;
  gap: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}


.tool {
  width: 28px;
  height: 28px;
  background: rgba(255,255,255,0.25);
  border-radius: 6px;
  border: none;
  color: white;
  cursor: pointer;
  transition: 0.2s;
  background-size: 20px;
  background-position: center;
  background-repeat: no-repeat;
}


.tool:hover {
  background: rgba(179, 179, 179, 0.45);
}


.tool.align-left { background-image: url("Assets/text-left.png"); }
.tool.align-center { background-image: url("Assets/text-center.png"); }
.tool.align-right { background-image: url("Assets/justify-right.png"); }
.tool.align-justify { background-image: url("Assets/justify.png"); }


.tool.bold { background-image: url("Assets/type-bold.png"); }
.tool.italic { background-image: url("Assets/type-italic.png"); }
.tool.underline { background-image: url("Assets/type-underline.png"); }


.tool.color { background-image: url("Assets/colorirtexto.png"); }
.tool.size { background-image: url("Assets/tamanhotexto.png"); }
.tool.bullet { background-image: url("Assets/pontuartexto.png"); }



